<!doctype html>
<html ng-app="angularUtils">

<head>
  <meta charset="utf-8">
  <title>angularUtils</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div layout="vertical" layout-fill ng-controller="MainController as main">

    <md-content layout-fill>
      <header>
        <acme-navbar creationDate="main.creationDate" />
      </header>

      <section class="jumbotron">
        <h1>Angular Utilities</h1>
      </section>

      <section layout="column" layout-margin>

        <div layout="column">
          <md-card class="util-card">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h3>Zip Code</h3>
              </div>
            </md-toolbar>
            <md-card-content layout="column" layout-margin>
              <md-content>
                <p>A simple input field which only allows 5 or 9 digit zip codes.</p>
                <small>This directive prevents non-numerical characters from being entered, and all other values are marked as invalid. The input is automatically formatted to display a dash after more than 5 digits are entered.</small>
              </md-content>
              <md-content layout="row">
                <md-content flex class="directive-content">
                  <section>
                    <md-subheader class="md-primary">Input</md-subheader>
                    <md-input-container>
                      <label>Zip Code</label>
                      <input ng-model="zipCode" zip-code>
                    </md-input-container>
                  </section>
                  <section>
                    <md-subheader class="md-primary">Model</md-subheader>
                    <pre ng-bind="zipCode"></pre>
                  </section>
                </md-content>
                <md-card flex>
                  <md-tabs md-border-bottom class="md-accent">
                    <md-tab label="HTML">
                      <md-tab-content>
                        <cda-code-block lang="html">
  &lt;md-input-container&gt;
    &lt;label&gt;Zip Code&lt;/label&gt;
    &lt;input zip-code ng-model=&quot;zipCode&quot;&gt;
  &lt;/md-input-container&gt;
                        </cda-code-block>
                      </md-tab-content>
                    </md-tab>
                  </md-tabs>
                </md-card>
              </md-content>
            </md-card-content>
          </md-card>
        </div>

      </section>
    </md-content>

  </div>


  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

</body>

</html>